<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="UserService"
               service="UCommerce.Security.IUserService, UCommerce"
               type="Ucommerce.MasterClass.Integration.Security.SingleUserService, Ucommerce.MasterClass.Integration">
      <parameters>
        <userName>AutomaticTests</userName>
      </parameters>
    </component>
  </components>
</configuration>