<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component
      id="ConnectionStringLocator"
      service="UCommerce.Infrastructure.Configuration.IConnectionStringLocator, UCommerce.Infrastructure"
      type="Ucommerce.MasterClass.Integration.DataAccess.ConsoleConnectionStringLocator, Ucommerce.MasterClass.Integration">
      <parameters>
        <ConnectionString>Data Source=.\;Initial Catalog=sitefinity_Sitefinity;Integrated Security=true;</ConnectionString>
      </parameters>
    </component>

  </components>
</configuration>