<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="LanguageService"
               service="UCommerce.Infrastructure.Globalization.ILanguageService, UCommerce.Infrastructure"
               type="Ucommerce.MasterClass.Integration.Globalization.LanguageService, Ucommerce.MasterClass.Integration" />

  </components>
</configuration>