<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="LoggingService"
               service="UCommerce.Infrastructure.Logging.ILoggingService, UCommerce.Infrastructure"
               type="Ucommerce.MasterClass.Integration.Logging.ConsoleLoggingService, Ucommerce.MasterClass.Integration" />
  </components>
</configuration>