<?xml version="1.0"?>
<configuration>
  <components>
    <component
      id="Initialize.CatalogInstaller"
      service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
      type="Ucommerce.Masterclass.BusinessLogic.CatalogInstaller.InstallCatalogPipelineTask, Ucommerce.Masterclass.BusinessLogic" />
    

    <partial-component id="Initialize">
      <parameters>
        <tasks>
          <array>
            <value insert="first">${Initialize.CatalogInstaller}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>


    

  </components>
</configuration>
